body{
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  width: 100%;
  color: #272727 !important;
  padding: 0;
  margin: 0;

 
}
.bg-t-1{
  background-color: rgba(0,0,0,0.6);
}

.color-1{
  color: #272727 !important;
}

.color-2{
  color: #FC5E00 !important;
}


.color-3{
  color: #FC7E32 !important;
}

.color-4{
  color: #0007AB !important;
}

.color-5{
  color:#e9e9e9 !important;
}
.bg-color-1{
  background: #272727 !important;
}

.bg-color-2{
  background: #FC5E00 !important;
}


.bg-color-3{
  background: #FC7E32 !important;
}

.bg-color-4{
  background: #0007AB !important;
}

.bg-color-5{
  background:#e9e9e9 !important;
}
.navbar-dark .navbar-brand{

  font-size: 2rem !important;
  font-weight: 700 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-weight: 600;
 
}
.header{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2000;
}

.cover-car-varient{

  background-image: url("Assets/Images/Background/emptyshowroom.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} 
.cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  height: 100vh;
}
.cover-1{
  background-image: url("Assets/Images/Background/2020-Ford-Mustang-Shelby-GT500-011-1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  height: 100vh;
}
.h-80{
  height: 80vh;
}
.cover-2{
  background-image: url("Assets/Images/Background/AcuraNSXType2022-03_2.jpg");
}

.line-heigt-0x{
  line-height: 0.8 !important;
}

.currency{
  font-size: 2.5rem !important;
  font-weight:800 !important;
}

 #myCarousel  .carousel-caption{
  right: 2% !important;
  top: 0 !important;
}

.m-t-60{
  margin-top:60vh;
}

.t-r-h{
  margin-top:2vh;
  text-decoration: underline;
  color: #272727;
  font-weight: 900;
  
}

#myCarousel .carousel-indicators  {
  /* left: auto ; */
   margin-right: 5% ; 
  
}

#myCarousel .carousel-indicators  button {
  height: 20px !important;
  width: 20px !important;
  border-radius: 32px !important;
  border: none !important;
  background-color:#272727 !important;
}

#myCarousel .carousel-indicators .active {

  height: 20px !important;
  width: 40px !important;
  border-radius: 16px !important;
  background-color:#FC5E00 !important;
  
}


/* for card carousel */

.carouselForCard .carousel-control-next ,
#oneImageSlider .carousel-control-next ,
.carouselForCard .carousel-control-prev,
#oneImageSlider .carousel-control-prev{
  width: initial !important;
  
}


.carouselForCard .carousel-control-next,
#oneImageSlider .carousel-control-next{
 right: 3% !important;
}

.carouselForCard .carousel-control-prev,
#oneImageSlider .carousel-control-prev{
  left: 3% !important;
}
.carouselForCard .carousel-indicators  button {
  margin-top: 3rem;
  height:15px !important;
  width: 40px !important;
  border-radius: 32px !important;
  border: none !important;
  background-color:#272727 !important;
}

.carouselForCard .carousel-indicators .active {

  height: 15px !important;
  width: 40px !important;
  border-radius: 16px !important;
  background-color:#FC5E00 !important;
  
}
.carouselForCard .carousel-control-next-icon  {
  /* margin-left: 6rem; */
  height: 100px;
 
   background-image: url("/Assets/Icons/arrow+black.png") !important;
}
.carouselForCard .carousel-control-prev-icon {
  /* margin-right: 6rem; */
  height: 100px;
 
  background-image: url("/Assets/Icons/arrow-previous.png") !important;
}


.one-image-slider .carousel-control-next-icon  {

  height: 10vh;
   
}
 .one-image-slider .carousel-control-prev-icon ,.one-image-slider .carousel-control-next-icon {
  filter:initial !important;
}


.carouselForCard .card{

  border-radius: 0.8rem !important;
  border-color: #e9e9e9 !important;
}


/* for oneImage slider */

.one-image-slider {
  width: 100%;
  text-align: center;
 
}
.one-image-slider img{
  margin-top: 0.5rem;
  height: 70vh;
}
@media screen and (max-width: 1080px) {
  .one-image-slider img {
    height: 32vh;;
  }
}


@media screen and (max-width: 414px) {
  .one-image-slider img {
    height: 75vh;
  }
}
.one-image-slider .carousel-control-next-icon,.one-image-slider .carousel-control-prev-icon {

  width: 10rem !important;
  height: 10rem !important;}

.one-image-slider .carousel-indicators {
  top: 105%;
}
.one-image-slider .carousel-indicators  button {
  
  height:1rem !important;
  width: 5rem !important;
  border-radius: 32px !important;
  border: none !important;
  background-color:white !important;
  border: 3px solid white !important;
}

.one-image-slider .carousel-indicators .active {

  background-color:#FC5E00 !important;
  
}

.heading-1 {
  font-weight: 600;
  padding: 0 1rem;
  border-bottom: 5px solid #FC5E00;
  display: inline-block;
  
}
.heading-1-r {
  font-weight: 600;
  padding-right: 10rem;
  border-bottom: 5px solid #FC5E00;
  display: inline-block;
  
}

.h1 {
  font-weight: 600;
  padding: 0 1rem;
  display: inline-block;
  
}
.h1::after{
  content: '';
  display: block;
  position: relative;
  width: 5rem;
  
  border-bottom: 5px solid #FC5E00;
}

.subHeading{

  font-weight: 600;
  font-size: 2.2rem;
  margin-left: 0;
  padding-left: 0;
}

.heading-2 {
  font-weight: 400;
  border-bottom: 5px solid #FC5E00;
  display: inline-block;
  width:100%;
  
}
.border-gray {
 
  border-bottom: 5px solid #e9e9e9;
  display: inline-block;
  width:100%;
  
}

.border-gray-r {
 
  border-right:  3px solid #e9e9e9;

  
}
.pointer{
  cursor: pointer;
}

.headingBlueBorder-2 {
  font-weight: 400;
  border-bottom: 5px solid #0007AB;
  display: inline-block;
  width:100%;
  
}

.heading-3 {
  font-weight: 400;
  margin-bottom: 0;

}

select {
  word-wrap: normal;
  border: none;
  background: none;
}

.cashback{
  background-color: #FC5E00;
  color: white;
  width: 6.9rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  

}
.cashback b{
  font-size: 1.6rem;
  display: inline-block;
  margin-top: -0.8rem;
}

select{
  font-weight: 500;
  font-size: 2rem;
  
}

.ModelDD{

  width: 25%;
}

.ModelDD select {  /* background-color:#272727 !important; */
  /* color:#272727 !important; */
  color:#272727 !important;
  border: none !important;
  outline: none !important;
  padding: 0.2rem;
  width: 100%;
  margin: 0 2rem;

}



.select-active {

  background-color:#FC5E00 !important;
  border: none !important;
  outline: none !important;
  
 
}

.select-active  option{
  color: white !important;
}


 
.fa-heart , .fa-exchange-alt{
  cursor:pointer;
}

 .fa-icon{
  font-size:2rem;
}
.fa-icon-1x{
  font-size:1rem;
}

 .icon-1x{
  width:1rem;
}

.icon-1hx{
  width:1.5rem;
}

.icon{
  width:2rem;
}
.icon-2x{
  width:4rem;
}

.icon-footer{
  width:0.8rem;
  margin-right: 0.3rem;
}

.bestSellerFeature  div , .bestSellerFeature  span{
  color:#616468; 
  font-size: 0.9rem;
  margin-bottom: -0.2rem !important;
}

.bestSellerFeature-1x  div , .bestSellerFeature-1x  span{
  color:#616468; 
  font-size: 1.1rem;
  
}

.bestSellerFeature  .BSFH{
  width:9rem;
}

.heading-3-height{

  /* height:2rem !important; */
}
.mt-1rem{

  margin-top:-1rem;
}


.borderd{

  border: 5px solid #e9e9e9;
  border-radius: 1rem;
}

.borderd-gray-4x{

  border: 4px solid #e9e9e9;
  border-radius: 0.5rem;
}


footer ul {
  list-style: none;
  padding: 0;
}
footer li {

  color: #e9e9e9;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.white{
  color:white !important;
}

/* 
img[src*="Assets/Images/Car/Thumbnails"] { */
  .img-fit{
 
    padding: 1rem;
  /* height : 25vh; */
  /* width: auto !important;
  max-width: auto !important; */
}
.bg{
  background-size: cover;
  background-position:center;
  background-origin:border-box;
  background-repeat: no-repeat;
  
}
.h-50{
  height: 100% !important;
}
.bg-b1{
  background-image: url("Assets/Images/Background/gtr-garage.jpg");
 
}
.bg-b2{
  background-image: url("Assets/Images/Background/2020-Ford-Mustang-Shelby-GT500-011-1080.jpg");
 
}
.bg-b3{
  background-image: url("Assets/Images/Background/engine.jpg");
 
}

.transparentDiv{
  
  color: white;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;

}

.transparentDiv h4{
  text-overflow: clip;
}
.border-raduis-1x{
  border-radius: 0.2rem;
}

.border-top-color-2{
  border-top: 4px solid #FC5E00;
}
.border-top-color-1{
  border-top: 2px solid #e9e9e9;

}
.line-throgh{
  text-decoration-line: line-through; 
}


.slider_overly{
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  
}
.btn-white{

  width: 15rem;
   color: white ;
   border: 3px solid white;
   background-color: rgba(0,0,0,0.1);

}


/* slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10vh;
  background: white;
  outline: none;
  border-radius: 1.5rem;
  border: 3px solid #e9e9e9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10rem;
  height: 9.8vh;
  background: #FC5E00;
  cursor: pointer;
  outline: none;
  border-radius: 1.5rem;
  border: 3px solid #e9e9e9;

  
}


.selectPrice {
    font-weight: 500 ;
    padding: 1rem ;
    font-size: 2rem ;
    border-radius: 1.5rem ;
    outline: none ;
}

.adon .input-group-text{

  background-color: white !important;
  font-weight: bold !important;
  font-size: 1.5rem;
  font-weight: bolder;
}

.adon select{

  border: 3px solid #e9e9e9;
  height: 9vh;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius:0.51rem;
}

.adon select option{ 
  font-size: 1.5rem !important;
}

/* .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
} */

.contact-cover-shadow{
  background-color:rgba(555,555,555,0.3);
  height: 50vh;
  width: 100%;
  z-index: 1000;
  position: absolute;
}

.contact-cover{
  background-image: url("Assets/Images/Background/highway-clipart-horizontal-road-3.jpg");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.d-none{
  display: none !important;
}

.five-cards .card{

  border: 3px solid #e9e9e9 !important;
}